*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}
body{
    background-color: blanchedalmond;
}
h2{
    font-size: 25px;
    text-align: center;
    color: rgba(41, 38, 38, 0.849);
    padding: 10px;
}
p{
    color: olivedrab;
    text-align: center;
    font-size: 18px;
}
.defil{
    display: flex;
    color: rgb(59, 94, 56);
    justify-content: center;
    align-items: center;
}
.defil i{
    font-size: 15px;
}


button{
    padding: 15px;
    margin-left: 300px;
}
/* section1 */
.section-1{
    margin: 50px 300px 50px 300px;
    justify-content: center;
    width: 100%; ;
}
.section-1 img{
    width: 400px;
    height: 400px;
}
.section-1 .container{
    display: flex;
     width: 100%;
}
.section-1 .container .formular{
    background-color: white;
    width: 80%;
    /* width:500px ;
    height: 400px; */
    padding: 10px;
}
.section-1 .container .forms{
    display: flex;
     width: 900px;
    margin: 0px auto;
    /* justify-content: space-between;  */
    align-items: center;
    padding: 60px 10px;
    border-radius: 18px;
    box-sizing: border-box; 
}
.section-1 .container .form{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}
.section-1 .container .form input{
    font-size: 15px;
    width: 70%;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    border-bottom: 2px solid gray;
    transition: 0.3s;
}
.section-1 .container .form .check{
    display: flex;
}

/* section2 */
.section-2{
    margin: 50px 300px 50px 300px;
    justify-content: center;
    display: none;
}
.section-2 img{
    width: 400px;
    height: 400px;
}
.section-2 .contain{
    display: flex;
}
.section-2 .contain .formular{
    background-color: white;
    width:500px ;
    height: 400px;
    padding: 10px;
}
.section-2 .contain .forms{
    display: flex;
    width:500px ;
    height: 300px;
    padding: 10px;
}
.section-2.contain .form{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}
.section-2 .contain .form input{
    font-size: 15px;
    width: 70%;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    border-bottom: 2px solid gray;
    transition: 0.3s;
}
.section-2 .contain .form option{
    font-size: 15px;
    width: 70%;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    border-bottom: 2px solid gray;
    transition: 0.3s;
}
/* section3 */
.section-3{
    margin: 50px 300px 50px 300px;
    justify-content: center;
    display: none;
}
.section-3 img{
    width: 400px;
    height: 400px;
}
.section-3 .content{
    display: flex;
}
.section-3 .content .formular{
    background-color: white;
    width:500px ;
    height: 400px;
    padding: 10px;
}
.section-3 .content .forms{
    display: flex;
    width:500px ;
    height: 300px;
    padding: 10px;
}
.section-3 .content .form{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}
.section-3 .content .form input{
    font-size: 15px;
    width: 70%;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    border-bottom: 2px solid gray;
    transition: 0.3s;
}
.section-3 .contaent .form option{
    font-size: 15px;
    width: 70%;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    border-bottom: 2px solid gray;
    transition: 0.3s;
}