*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}
body{
    background-color: blanchedalmond;
}
h2{
    font-size: 25px;
    text-align: center;
    color: rgba(41, 38, 38, 0.849);
    padding: 10px;
}
p{
    color: olivedrab;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}
.defil{
    display: flex;
    color: rgb(59, 94, 56);
    justify-content: center;
    align-items: center;
}
.defil i{
    font-size: 17px;
    padding: 2px;
}


button{
    padding: 10px 20px 10px 20px;
} 
img{
    width: 450px;
    height:450px;
}
.formular{
    padding: 10px;
   background-color: white;
   width: 700px;
   height: 450px;
} 
/* section1 */
.section-1{
     padding: 50px ;
    justify-content: center;
    width: 100%; 
}
  .section-1 .container{
    display: flex;
     width: 100%;
     justify-content: center;
     padding: 10px; 
}

.section-1 .container .forms {
     justify-content: center;  
    align-items: center;
     margin-left: 50px; 
}
  .section-1 .container .forms input, select{
    margin: 20px;
    font-size: 17px;
    border: none;
    outline: none;
    text-decoration: none;
    border-bottom: 2px solid gray;
}  
.section-1 .forward{
    background: rgb(175, 144, 108);
    font-size: 18px;
    margin-left: 350px;  
}

/* section2 */
.section-2{
    padding: 100px ;
   justify-content: center;
   width: 100%; 
   display: none;
}
 .section-2 .container{
   display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px; 
}

.section-2 .container .forms {
    justify-content: center;  
   align-items: center;
    margin-left: 50px; 
}
 .section-2 .container .forms input, select{
   margin: 20px;
   font-size: 17px;
   border: none;
   outline: none;
   text-decoration: none;
   border-bottom: 2px solid gray;
}  

.section-2 .backward{
    font-size: 18px;
    background: rgb(83, 65, 44);
    margin-left: 300px;
}
.section-2 .forward-1{
    font-size: 18px;
    background: rgb(61, 83, 44);
}
.section-2 input:nth-child(1){
    width: 80%;
}

/* section3 */
.section-3{
    padding: 100px ;
   justify-content: center;
   width: 100%;
   display: none; 
}
 .section-3 .container{
   display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px; 
}

.section-3 .container .forms {
    justify-content: center;  
   align-items: center;
    margin-left: 50px; 
}
 .section-3 .container .forms input, select{
   margin: 20px;
   font-size: 17px;
   border: none;
   outline: none;
   text-decoration: none;
   border-bottom: 2px solid gray;
}  

.section-3 .backward-1{
    font-size: 18px;
    background: rgb(83, 65, 44);
}
.section-3 .submit{
    font-size: 18px;
    background: rgb(82, 44, 83);
}